include assets/variables
include assets/mixins

include assets/b-page

+b-page(`home`)
  +e(`header-home`, {}, `header`)
    .container-fluid: .row
      .col-12.col-lg-10.offset-lg-1
        +e(`title-home`, {}, `h1`) #{$.config.project.name}
          small #{$.package.version}
            +a(`${$.package.name.toLowerCase()}-${$.package.version}.zip`) Download ZIP
  +e(`content-home`, {}, `main`)
    .container-fluid: .row
      .col-12.col-md-6.col-lg-5.offset-lg-1
        h2 Pages
        +e(`list-home`, {}, `ol`)
          each page, key in $.pages
            if key !== 'home'
              li: +a(page.url) #{page.title}
                small (#{page.url})
      .col-12.col-md-6.col-lg-5
        h2 Modals
        +e(`list-home`, {}, `ol`)
          each modal, key in $.modals
            li: +a()(data-fancybox='' data-type='ajax' data-src=modal.url) #{modal.title}
              small (#{modal.url})
  +e(`footer-home`, {}, `footer`)
    div &nbsp;
    div &nbsp;
    div &nbsp;
  // Dynamic Blocks
  div(style='display: none')
    div