include assets/variables
include assets/mixins

include assets/b-page
include assets/b-header
include assets/b-footer
include assets/b-checkbox

- $.set = {page: 'index', breadcrumbs: [$.pages.index]}

+b-page()
  +e(`inner`)
    +b-header({e: `page`})
    +b(`content`, ({e: `page`}))
      +b(`section-start`, {}, `section`)
        +e(`container`).container-fluid
          +e(`col-1`)
            +e(`img`, {}, `img`)(src='assets/FS-200.jpg' alt='Ручной запайщик пакетов FS-200' title='Ручной запайщик пакетов FS-200')
            +e(`price-wrap`)
              +e(`price`, {}, `span`) 1&nbsp;038&nbsp;₽
          +e(`col-2`)
            +e(`title`, {}, `h1`) Ручной запайщик пакетов FS-200
            +b(`btn`, {m: `1`, e: `&`}, `a`)(href='#form-order') Заказать

      +b(`section-clients`, {}, `section`)
        .container-fluid
          .row
            .col-lg-10.offset-lg-1
              +e(`title`, {}, `h2`) Эти компании уже поставили на&nbsp;своё производство наше оборудование&nbsp;&mdash; присоединяйся!
          +b(`carousel`, {e: `&`})
            +e(`inner`).slick-slider(data-slick='{"autoplay": true, "autoplaySpeed": 7000}')
              +e(`item`, {}, `a`)(href=jsHref target='_blank' title='').loading
                +e(`img`, {}, `img`)(data-lazy='assets/wildberries.jpg' alt='')
              +e(`item`, {}, `a`)(href=jsHref target='_blank' title='').loading
                +e(`img`, {}, `img`)(data-lazy='assets/pepsico.jpg' alt='')
              +e(`item`, {}, `a`)(href=jsHref target='_blank' title='').loading
                +e(`img`, {}, `img`)(data-lazy='assets/cherkizovsky.jpg' alt='')
              +e(`item`, {}, `a`)(href=jsHref target='_blank' title='').loading
                +e(`img`, {}, `img`)(data-lazy='assets/auchan.jpg' alt='')
              +e(`item`, {}, `a`)(href=jsHref target='_blank' title='').loading
                +e(`img`, {}, `img`)(data-lazy='assets/food_city.jpg' alt='')
              +e(`item`, {}, `a`)(href=jsHref target='_blank' title='').loading
                +e(`img`, {}, `img`)(data-lazy='assets/wildberries.jpg' alt='')
              +e(`item`, {}, `a`)(href=jsHref target='_blank' title='').loading
                +e(`img`, {}, `img`)(data-lazy='assets/pepsico.jpg' alt='')

      +b(`section-about`, {}, `section`).sect-menu#about
        +e(`container`).container-fluid
          +e(`col-1`)
            +e(`img`, {}, `img`)(src='assets/FS-200_2.jpg' alt='')
          +e(`col-2`)
            +e(`title`, {}, `h2`) Наше оборудование заработает деньги для Вас
            +e(`lead`, {}, `p`).
              Серия ручных запайщиков&nbsp;FS в&nbsp;пластиковом корпусе&nbsp;&mdash; это наиболее популярный аппарат, отлично выполняющий свою работу за&nbsp;очень скромные деньги.
            p.
              Качество превосходит любые китайские аналоги. Пластиковый корпус делает его очень доступным по&nbsp;цене и&nbsp;при бережном обращении может служить многие годы. FS-200 (ABS) есть в&nbsp;наличии на&nbsp;складе в&nbsp;Москве
              и&nbsp;Новосибирске, также вы&nbsp;можете приобрести специальные зип комплекты для запайщиков, состоящие из&nbsp;защитной лакоткани и&nbsp;нихромового нагревательного полотна.

      +b(`section-order`, {m: `1`}, `section`).icon-gift#form-order
        +e(`container`).container-fluid
          .row
            .col-12.col-lg-7
              +e(`title`, {}, `h2`) При покупке нашего оборудования на&nbsp;сайте&nbsp;&mdash; ЗИП в&nbsp;подарок
              +e(`ul`, {}, `ul`)
                li Состоит из&nbsp;защитной лакоткани и&nbsp;нихромового нагревательного элемента
                li Увеличивает срок эксплуатации прибора
                li Фирменный расходный материал
              +e(`info`, {}, `p`): strong У&nbsp;нас вы&nbsp;приобретаете полный комплект!
          +b(`form-order`, {}, `form`)(action='' method='get')
            +e(`row`)
              +e(`col-1`)
                +b(`field`, {e: `&`}, `input`)(type='text' name='fio' placeholder='ФИО' required)
              +e(`col-2`)
                +b(`field`, {e: `&`}, `input`)(type='tel' name='tel' placeholder='Телефон' data-mask='+7 (000) 000-00-00' required minlength='18')
              +e(`col-3`)
                +b(`field`, {e: `&`}, `input`)(type='email' name='email' placeholder='Email' required)
              +e(`col-4`)
                +b(`field`, {e: `&`}, `input`)(type='text' name='company' placeholder='Название организации' required)
              +e(`col-5`)
                +b-checkbox({e: `&`})(name='yur') Выставить счет на&nbsp;оплату&nbsp;юр. лицу
              +e(`col-6`)
                +b-checkbox({e: `&`})(name='subscribe' checked) Согласен получать информацию по&nbsp;электронной почте.
              +e(`col-7`)
                +b(`btn`, {m: `1`, e: `&:btn-submit`}, `button`)(type='submit') Купить
            +e(`info`, {}, `p`) Наши операторы свяжутся с&nbsp;Вами в&nbsp;рабочее время

      +b(`section-advantages`, {}, `section`).sect-menu#advantages
        +e(`container`).container-fluid
          +e(`col-1`, {}, `figure`)
            +e(`img`, {}, `img`)(src='assets/FS-200_3.jpg' alt='')
            +e(`caption`, {}, `figcaption`) Запаковщик FS-200
          +e(`col-2`)
            +e(`title`, {}, `h2`) Преимущества FS-200
            +e(`ul`, {}, `ul`).mb-0
              li Шов шириной 2&nbsp;мм позволяет упаковывать даже мелкие пакеты
              li Текстура шва &laquo;сетка&raquo; эстетично выглядит и&nbsp;гарантирует надежность запайки
              li Пластиковый корпус обеспечивает низкую стоимость оборудования
              li Качественные трансформаторы и&nbsp;другие электрические компоненты будут работать долго и&nbsp;надежно, принося прибыль
              li Высокое качество механических узлов обеспечивает качество запайки и&nbsp;надежность в&nbsp;работе
        .container-fluid
          +b(`carousel-a`, {e: `&`})
            +e(`inner`).slick-slider(data-slick='{"autoplay": true, "autoplaySpeed": 15000}')
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-1.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 01
                  +e(`title`, {}, `h3`) Оперативная логистика
                  +e(`desc`): p Удобное расположение складов, ежедневные отгрузки, доставка по&nbsp;городу
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-2.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 02
                  +e(`title`, {}, `h3`) Бесплатная доставка
                  +e(`desc`): p Бесплатное экспедирование до&nbsp;склада транспортной компании по&nbsp;Москве и&nbsp;Новосибирску
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-3.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 03
                  +e(`title`, {}, `h3`) Сервис и обслуживание
                  +e(`desc`)
                    ul.list-unstyled
                      li Собственная сервисная служба
                      li Пуско-наладочные работы
                      li Диагностика
                      li Гарантийное и пост-гарантийное обслуживание
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-4.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 04
                  +e(`title`, {}, `h3`) Официальный представитель Hualian Machinery в РФ
                  +e(`desc`)
                    ul.list-unstyled
                      li Гарантия оригинального качества и минимальной цены
                      li Регулярное обновление ассортимента
                      li Изготовление оборудования на заказ под Вашу продукцию
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-5.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 05
                  +e(`title`, {}, `h3`) Широкий ассортимент в наличии в РФ
                  +e(`desc`)
                    ul.list-unstyled
                      li Широкий ассортимент в наличии в России
                      li Огромный выбор оборудования, расходных материалов и запчастей на складах в России.
                      li Постоянный контроль пополнения остатков.
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-1.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 06
                  +e(`title`, {}, `h3`) Информационная доступность
                  +e(`desc`)
                    ul.list-unstyled
                      li Консультационная поддержка.
                      li Бесплатная демонстрация.
                      li Тестирование оборудования.
                      li Русифицированная документация.
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-7.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 07
                  +e(`title`, {}, `h3`) Гарантийная поддержка
                  +e(`desc`): p Гарантия на оборудование до 2-х лет
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-8.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 08
                  +e(`title`, {}, `h3`) Запасные части
                  +e(`desc`): p Большой склад запчастей в наличии, экспресс-доставка запчастей из Китая
              +e(`item`, {}, `article`)
                +e(`col-1`)
                  +e(`img-wrap`).loading
                    +e(`img`, {}, `img`)(data-lazy='assets/pic-9.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`col-2`)
                  +e(`title-common`, {}, `h2`) Наши преимущества
                  +e(`number`) 09
                  +e(`title`, {}, `h3`) Дилерская сеть по всей РФ
                  +e(`desc`): p Партнеры во всех крупных городах РФ, единая ценовая политика

      +b(`section`, {}, `section`).sect-menu#mods
        +e(`container`).container-fluid
          .row
            .col-12.col-lg-8.offset-lg-2
              +e(`title`, {}, `h2`) Таблица с&nbsp;характеристиками возможных модификаций
          +b(`table`, {e: `&`})
            +e(`inner`, {}, `table`)
              thead
                tr
                  th Характеристики
                  th FS-200
                  th FS-300
                  th FS-400
              tbody
                tr
                  td Напряжение&nbsp;(В/Гц)
                  td AC 200/50 110/60
                  td AC 200/50 110/60
                  td AC 200/50 110/60
                tr
                  td Импульсная мощность&nbsp;(Вт)
                  td 260
                  td 430
                  td 600
                tr
                  td Длина запечатывания&nbsp;(мм)
                  td 200
                  td 400
                  td 400
                tr
                  td Ширина запечатывания&nbsp;(мм)
                  td 2
                  td 3
                  td 3
                tr
                  td Max.толщина запечатывания&nbsp;(мм)
                  td 0,2
                  td 0,3
                  td 0,3
                tr
                  td Регулируемое время нагрева&nbsp;(с)
                  td 0.2-1.3
                  td 0.2-1.3
                  td 0.2-1.3
                tr
                  td Внешние размеры (Д*Ш*В)&nbsp;(мм)
                  td 325*80*225
                  td 450*80*225
                  td 540*85*225
                tr
                  td Вес нетто (кг)
                  td 2,1
                  td 3,7
                  td 4,4

      +b(`section-order`, {}, `section`)
        +e(`container`).container-fluid
          .row
            .col-12.col-lg-7
              +e(`title`, {m: `mb-35`}, `h2`) Купить сейчас
          +b(`form-order`, {}, `form`)(action='' method='get')
            +e(`row`)
              +e(`col-1`)
                +b(`field`, {e: `&`}, `input`)(type='text' name='fio' placeholder='ФИО' required)
              +e(`col-2`)
                +b(`field`, {e: `&`}, `input`)(type='tel' name='tel' placeholder='Телефон' data-mask='+7 (000) 000-00-00' required minlength='18')
              +e(`col-3`)
                +b(`field`, {e: `&`}, `input`)(type='email' name='email' placeholder='Email' required)
              +e(`col-4`)
                +b(`field`, {e: `&`}, `input`)(type='text' name='company' placeholder='Название организации' required)
              +e(`col-5`)
                +b-checkbox({e: `&`})(name='yur') Выставить счет на&nbsp;оплату&nbsp;юр. лицу
              +e(`col-6`)
                +b-checkbox({e: `&`})(name='subscribe' checked) Согласен получать информацию по&nbsp;электронной почте.
              +e(`col-7`)
                +b(`btn`, {m: `1`, e: `&:btn-submit`}, `button`)(type='submit') Купить
            +e(`info`, {}, `p`) Наши операторы свяжутся с&nbsp;Вами в&nbsp;рабочее время

      +b(`section`, {}, `section`).sect-menu#other
        +e(`container`).container-fluid
          .row
            .col-12.col-lg-8.offset-lg-2
              +e(`title`, {}, `h2`) С этим товаром часто покупают
          +b(`prod-list`, {e: `&`})
            +e(`inner`)
              +e(`item`, {}, `a`)(href=jsHref title='' target='_blank')
                +e(`img-wrap`, {}, `div`)
                  +e(`img`, {}, `img`)(src='assets/prod-1.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`title`, {}, `h3`) Датер ручной DY-8 (с термолентой)
              +e(`item`, {}, `a`)(href=jsHref title='' target='_blank')
                +e(`img-wrap`, {}, `div`)
                  +e(`img`, {}, `img`)(src='assets/prod-2.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`title`, {}, `h3`) Ручной аппарат для запечатывания пакетов FS-500H
              +e(`item`, {}, `a`)(href=jsHref title='' target='_blank')
                +e(`img-wrap`, {}, `div`)
                  +e(`img`, {}, `img`)(src='assets/prod-3.jpg' alt='' data-fit-img='cover' onload='fitImg(this)')
                +e(`title`, {}, `h3`) Ножные импульсные запайщики серии FRT-1200

      +b(`section`, {m: `bg-gray`}, `section`)#order
        +e(`container`).container-fluid
          .row
            .col-12.col-lg-8.offset-lg-2
              +e(`title`, {m: `order`}, `h2`) Оформление заказа и доставка
          .row
            .col-12.col-md-6.col-lg-4
              +b(`order-step`, {e: `&:order-step`})
                +e(`icon`).icon-sign-in
                +e(`title`, {}, `h3`) Простая регистрация
                +e(`desc`, {}, `p`).
                  Заполните поле ФИО, Телефон, Email и&nbsp;нажмите на&nbsp;кнопку &laquo;Заказать&raquo;.
                  Если вы&nbsp;юр.лицо, поставьте галочку напротив &laquo;Выставить счет юр.лицу&raquo;.
            .col-12.col-md-6.col-lg-4
              +b(`order-step`, {e: `&:order-step`})
                +e(`icon`).icon-pay
                +e(`title`, {}, `h3`) Мгновенная оплата
                +e(`desc`, {}, `p`).
                  После регистрации вы&nbsp;перейдете в&nbsp;платежную систему Яндекс.Касса. После оплаты наш оператор свяжется с&nbsp;вами по&nbsp;вопросу удобной доставки.
            .col-12.col-md-6.col-lg-4
              +b(`order-step`, {e: `&:order-step`})
                +e(`icon`).icon-delivery
                +e(`title`, {}, `h3`) Быстрая бесплатная доставка
                +e(`desc`, {}, `p`).
                  Бесплатная доставка до&nbsp;терминала транспортной компании на&nbsp;следующий день после оплаты.
          +e(`footer`, {}, `footer`) Свяжитесь #[a(href='#form-order') с нами] если этот вариант доставки вам не подходит

      +b(`section-shop`, {}, `section`)
        +e(`container`).container-fluid
          .row
            .col-12.col-lg-8.offset-lg-2.text-center
              +e(`title`, {m: `order`}, `h2`) Наш интернет-магазин
              +b(`btn`, {m: `1`, e: `&`}, `a`)(href='http://hualian-shop.ru/' target='_blank') Смотреть

      +b(`section-order`, {}, `section`)
        +e(`container`).container-fluid
          .row
            .col-12.col-lg-7
              +e(`title`, {m: `mb-35`}, `h2`) Заказать
          +b(`form-order`, {}, `form`)(action='' method='get')
            +e(`row`)
              +e(`col-1`)
                +b(`field`, {e: `&`}, `input`)(type='text' name='fio' placeholder='ФИО' required)
              +e(`col-2`)
                +b(`field`, {e: `&`}, `input`)(type='tel' name='tel' placeholder='Телефон' data-mask='+7 (000) 000-00-00' required minlength='18')
              +e(`col-3`)
                +b(`field`, {e: `&`}, `input`)(type='email' name='email' placeholder='Email' required)
              +e(`col-4`)
                +b(`field`, {e: `&`}, `input`)(type='text' name='company' placeholder='Название организации' required)
              +e(`col-5`)
                +b-checkbox({e: `&`})(name='yur') Выставить счет на&nbsp;оплату&nbsp;юр. лицу
              +e(`col-6`)
                +b-checkbox({e: `&`})(name='subscribe' checked) Согласен получать информацию по&nbsp;электронной почте.
              +e(`col-7`)
                +b(`btn`, {m: `1`, e: `&:btn-submit`}, `button`)(type='submit') Заказать
            +e(`info`, {}, `p`) Наши операторы свяжутся с&nbsp;Вами в&nbsp;рабочее время

    +b-footer({e: `page`})